<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="drag-drop.css">
  </head>


<body ng-app="todoApp">
  <div class="board" ng-controller="boardController as board">

    <div class="list"
        ng-repeat="list in board.lists"
        dnd-list="list.cards"
        dnd-allowed-types="['card']">


      <h2>{{ list.name }}</h2>

      <ul class="unstyled" dnd-list="list.cards">

        <li class="card"
            ng-repeat="card in list.cards"
            dnd-draggable="card"
            dnd-effect-allowed="move"
            dnd-type="card"
            dnd-moved="list.cards.splice($index, 1)">

          <span>{{card.title}}</span>
        </li>
      </ul>

    </div>
  </div>

  <script src="angular.min.js"></script>
  <script src="vendor/angular-route.js"></script>
  <script src="vendor/angular-resource.js"></script>
  <script src="vendor/angular-drag-and-drop-lists.js"></script>
  <script src="drag-drop-app.js"></script>
</body>
</html>