<div class="row" ng-include="'templates/rvb-nav-bar.html'"> </div>

<div class="col-6 panel stats">
  <h1> Timely, bite-sized articles for your job hunt <h1>

  <div id="article-container">
    <h3>Getting off to a Good Start</h3>
    <small>"A journey of a thousand miles begins with a single step."</small>
    <p>The job hunt is a challenging process, especially for those new to the process or transitioning fields. Feedback cycles are slow, making it difficult to know how to improve one's approach. The amount of "advice" is overwhelming and often seemingly contradictory. What's a hard worker looking for a new place to contribute to do?</p>
    <h4>Organize and Prioritize</h4>
    <p>Often the question when job hunting is not "What should I do?", but rather "What should I do right now?" With a multitude of hiring platforms, networking events, and other methods of outreach available, job seekers can get bogged down by the sheer number of options.</p>
    <p>Having a plan soothes internal questions about whether one is taking the necessary steps to progress their application process. By iteratively completing a series of bite-sized, actionable tasks, job seekers can feel assured that they are making strides toward securing the position they desire.</p>
    <h4>Flexibility and Consistency</h4>
    <p>In order to stay on top of current leads, job seekers need to be both fluid and tenacious. Being able to shuffle priorities based on an interviewer's schedule and maintain frequent contact with the hiring team are both critical skills to staying in the good graces of one's prospective employer.</p>

    <small>"The best way to predict the future is to create it."</small>
  </div>
</div>