<!-- APP!!!!! -->
<!doctype html>
<html ng-app="JHO" ng-strict-di>
<head>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="AuthController as auth">

    <div class="grid-container outline">

      <header class="row" ng-include="'templates/header.html'">
        <!-- About, Contact, Welcome -->
      </header>

      <!-- Two versions of site navigation if signed in or not -->
      <nav class="row" ng-if="!auth.isAuthed()" ng-include="'templates/auth.html'">
        <!-- show Login / Register links and forms if user not logged in -->
      </nav>
      <div class="row" ng-if="auth.isAuthed()" ng-include="'templates/rvb-nav-bar.html'">
        <!-- show tabbed panel navigation if user is logged in -->
      </div>

      <div class="row" >
        <div ng-if="auth.isAuthed()" ng-view>
        <!-- show main page content if user is logged in -->
        <!-- Templates accessed by router render here -->
        </div>
      </div>

      </div>
        <footer class="row" ng-include="'templates/footer.html'"></footer>
      </div>

    </div>

  <!-- vendor -->
  <script src="javascripts/vendor/angular.js"></script>
  <script src="javascripts/vendor/angular-route.js"></script>
  <script src="javascripts/vendor/angular-resource.js"></script>
  <script src="javascripts/vendor/angular-drag-and-drop-lists.js"></script>

  <!-- App -->
  <script src="javascripts/app.js"></script>
  <script src="javascripts/routes.js"></script>

  <script src="javascripts/services/user.js"></script>
  <script src="javascripts/services/auth.js"></script>
  <script src="javascripts/services/interceptors.js"></script>
  <script src="javascripts/controllers/auth-controller.js"></script>
  <script src="javascripts/controllers/welcome-controller.js"></script>
  <script src="javascripts/controllers/users-controller.js"></script>
  <!--
  <script src="javascripts/controllers/board-controller.js"></script>
  <script src="javascripts/controllers/add-organization-controller.js"></script>
 -->
</body>
</html>

