<div class="row" ng-include="'templates/rvb-nav-bar.html'"> </div>

<div class="col-6 panel board" ng-controller="BoardController as boardCtrl">
<!--           Eventually this board should be refactored to use a combination of ng-repeat and forceful CSS for the individual lists -->

    <h1>{{board.name}} </h1>

    <div id="interested-col" dnd-allowed-types="['card']">
        <!-- {{boardCtrl.board.lists[0].name}} -->
        <h3> Interested </h3>

          <ul dnd-list="board.lists[0].cards"
            dnd-inserted="console.log('Element was inserted at position ' + index, event)">
            <li ng-repeat="card in board.lists[0].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[0].cards.splice($index, 1)"
            >
              {{card.title}}

              <!-- Test modal -->
              <div ng-controller='CardController as card'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='60%'>
                  <p>Modal Content Goes here<p>
                    <!-- Following doesn't work -->
                    <!-- <p> edit {{card.title}}</p> -->
                </modal-dialog>
              </div>

            </li>
          </ul>

          <form id="board-form" name="addOrganizationForm" ng-controller="AddOrganizationController as addOrgCtrl" ng-submit="addOrganizationForm .$valid && addOrgCtrl.addOrganization(list1_items)" novalidate>
            <input ng-model="addOrgCtrl.organization.title" type="text" placeholder="New Organization" required/>
            <input type="submit" value="Add" />
          </form>

    </div>


    <div id="personal-contact-col">
      <h3>Personal Contact</h3>

      <div id="in-progress" dnd-allowed-types="['card']">
        <h4>In Progress </h4>

          <ul dnd-list="board.lists[1].cards" >
            <li ng-repeat="card in board.lists[1].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[1].cards.splice($index, 1)"
            >
            {{card.title}}

            <!-- Test modal -->
              <div ng-controller='CardController as card'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='60%'>
                  <p>Modal Content For list 1 Goes here<p>
                    <!-- Following doesn't work -->
                    <!-- <p> edit {{card.title}}</p> -->
                </modal-dialog>
              </div>

          </li>
          </ul>

      </div>

      <div id="done" dnd-allowed-types="['card']" >
        <h4>Done </h4>
          <!-- Bug : this is showing lists[1] instead of lists[2] -->
          <ul dnd-list="board.lists[2].cards">
            <li ng-repeat="card in board.lists[2].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[2].cards.splice($index, 1)"
            >{{card.title}}</li>
          </ul>
      </div>

    </div>


    <div id="apply-col">
      <h3>Apply</h3>

      <div id="in-progress" dnd-allowed-types="['card']">
        <h4>In Progress</h4>

          <ul dnd-list="board.lists[3].cards">
            <li ng-repeat="card in board.lists[3].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[3].cards.splice($index, 1)"
            >{{card.title}}</li>
          </ul>

      </div>

      <div id="done" dnd-allowed-types="['card']">
        <h4>Done</h4>

          <ul dnd-list="board.lists[4].cards">
            <li ng-repeat="card in board.lists[4].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[4].cards.splice($index, 1)"
            >{{card.title}}</li>
          </ul>

      </div>
    </div>

    <div id="interview-col" dnd-allowed-types="['card']">
      <h3>Interview</h3>

        <ul dnd-list="board.lists[5].cards" >
          <li ng-repeat="card in board.lists[5].cards" dnd-draggable="card"
              dnd-effect-allowed="move"
              dnd-type="card"
              dnd-moved="board.lists[5].cards.splice($index, 1)"
          >{{card.title}}</li>
        </ul>

  </div>
</div>