<div class="row" ng-include="'templates/rvb-nav-bar.html'"> </div>

<div class="col-6 panel board" ng-controller="BoardController as boardCtrl">
<!--           Eventually this board should be refactored to use a combination of ng-repeat and forceful CSS for the individual lists -->

    <h1>{{board.name}} </h1>

    <div id="interested-col" dnd-allowed-types="['card']">
        <!-- {{boardCtrl.board.lists[0].name}} -->
        <h3> Interested </h3>

          <ul data-list_id="{{ board.lists[0].id }}"
            dnd-list="board.lists[0].cards"
            dnd-inserted="boardCtrl.updateCardPosition(event, index, item, {{ board.lists[0].id }})"
            >

            <li ng-repeat="card in board.lists[0].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[0].cards.splice($index, 1); log(e)"
            >
              {{card.title}}
              <!-- Took CardController AS CARD out to give access to the boardCtrl card -->
              <div ng-controller='CardController as cardCtrl'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='40%'>
                  <!-- <p>Modal Content for {{ board.lists[0].name }} Goes here<p> -->
                  <!-- EXTREMELY IMPORT: card is from the boardCtrl -->
                  <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
                    <!-- <label id="card-modal-label">Title</label> -->
                    <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
                    <!-- <input type="hidden" ng-model="card.id" value="{{card.id}}" required> -->
                    <label id="card-modal-label">Position Description</label>
                    <textarea id="card-modal-input"  ng-model="card.position_description" required>{{ card.position_description }}</textarea>
                    <label id="card-modal-label">Tech Stack</label>
                    <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
                    <input id="submit" type="submit" value="Update">
                  </form>
                </modal-dialog>
              </div>

            </li>
          </ul>

          <form id="board-form" name="addOrganizationForm" ng-controller="AddOrganizationController as addOrgCtrl" ng-submit="addOrganizationForm.$valid && addOrgCtrl.addOrganization(list1_items)" novalidate>
            <input ng-model="addOrgCtrl.organization.title" type="text" placeholder="New Organization" required/>
            <input type="submit" value="Add" />
          </form>

    </div>


    <div id="personal-contact-col">
      <h3>Personal Contact</h3>

      <div id="in-progress" dnd-allowed-types="['card']">
        <h4>In Progress </h4>

          <ul data-list_id="{{ board.lists[1].id }}"
          dnd-list="board.lists[1].cards"
          dnd-inserted="boardCtrl.updateCardPosition(event, index, item, {{ board.lists[1].id }})"
          >
            <li ng-repeat="card in board.lists[1].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[1].cards.splice($index, 1)"
            >
              {{card.title}}

            <!-- Test modal -->
              <div ng-controller='CardController as cardCtrl'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='40%'>
                  <!-- <p>Modal Content For {{ board.lists[1].name }} Goes here<p> -->
                    <!-- EXTREMELY IMPORT: card is from the boardCtrl -->
                  <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
                    <!-- <label id="card-modal-label">Title</label> -->
                    <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
                    <!-- <input type="hidden" ng-model="card.id" value="{{card.id}}" required> -->
                    <label id="card-modal-label">Position Description</label>
                    <textarea id="card-modal-input"  ng-model="card.position_description" required>{{ card.position_description }}</textarea>
                    <label id="card-modal-label">Tech Stack</label>
                    <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
                    <input id="submit" type="submit" value="Update">
                  </form>
                </modal-dialog>
              </div>
            </li>
          </ul>
      </div>

      <div id="done" dnd-allowed-types="['card']" >
        <h4>Done </h4>
          <!-- Bug : this is showing lists[1] instead of lists[2] -->
          <ul data-list_id="{{ board.lists[2].id }}"
          dnd-list="board.lists[2].cards"
          dnd-inserted="boardCtrl.updateCardPosition(event, index, item, {{ board.lists[2].id }})"
          >
            <li ng-repeat="card in board.lists[2].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[2].cards.splice($index, 1)"
            >
              {{card.title}}
              <!-- Test modal -->
              <div ng-controller='CardController as cardCtrl'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='45%'>
                  <!-- <p>Modal Content For {{ board.lists[2].name }} Goes here<p> -->
                    <!-- EXTREMELY IMPORT: card is from the boardCtrl -->
                  <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
                    <!-- <label id="card-modal-label">Title</label> -->
                    <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
                    <!-- <input type="hidden" ng-model="card.id" value="{{card.id}}" required> -->
                    <label id="card-modal-label">Position Description</label>
                    <textarea id="card-modal-input"  ng-model="card.position_description" required>{{ card.position_description }}</textarea>
                    <label id="card-modal-label">Tech Stack</label>
                    <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
                    <label id="card-modal-label">Advocate Name</label>
                    <input id="card-modal-input" type="text" ng-model="card.advocate" value="{{card.advocate}}" required>
                    <input id="submit" type="submit" value="Update">
                  </form>
                </modal-dialog>
              </div>
            </li>
          </ul>
      </div>

    </div>


    <div id="apply-col">
      <h3>Apply</h3>

      <div id="in-progress" dnd-allowed-types="['card']">
        <h4>In Progress</h4>

          <ul data-list_id="{{ board.lists[3].id }}"
          dnd-list="board.lists[3].cards"
          dnd-inserted="boardCtrl.updateCardPosition(event, index, item, {{ board.lists[3].id }})"
          >
            <li ng-repeat="card in board.lists[3].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[3].cards.splice($index, 1)"
            >
              {{card.title}}
              <!-- Test modal -->
              <div ng-controller='CardController as cardCtrl'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='55%'>
                  <!-- <p>Modal Content For {{ board.lists[3].name }} Goes here<p> -->

                    <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
                    <!-- <label id="card-modal-label">Title</label> -->
                    <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
                    <!-- <input type="hidden" ng-model="card.id" value="{{card.id}}" required> -->
                    <label id="card-modal-label">Position Description</label>
                    <textarea id="card-modal-input"  ng-model="card.position_description" required>{{ card.position_description }}</textarea>
                    <label id="card-modal-label">Tech Stack</label>
                    <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
                    <label id="card-modal-label">Advocate Name</label>
                    <input id="card-modal-input" type="text" ng-model="card.advocate" value="{{card.advocate}}" required>
                    <label id="card-modal-label">Organization Summary</label>
                    <input id="card-modal-input" type="text" ng-model="card.organization_summary" value="{{card.organization_summary}}" required>
                    <input id="submit" type="submit" value="Update">
                  </form>
                </modal-dialog>
              </div>
            </li>
          </ul>

      </div>

      <div id="done" dnd-allowed-types="['card']">
        <h4>Done</h4>

          <ul data-list_id="{{ board.lists[4].id }}"
          dnd-list="board.lists[4].cards"
          dnd-inserted="boardCtrl.updateCardPosition(event, index, item, {{ board.lists[4].id }})"
          >
            <li ng-repeat="card in board.lists[4].cards" dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-type="card"
                dnd-moved="board.lists[4].cards.splice($index, 1)"
            >
              {{card.title}}
              <!-- Test modal -->
              <div ng-controller='CardController as cardCtrl'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='60%'>
                  <!-- <p>Modal Content For {{ board.lists[4].name }} Goes here<p> -->

                    <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
                    <!-- <label id="card-modal-label">Title</label> -->
                    <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
                    <!-- <input type="hidden" ng-model="card.id" value="{{card.id}}" required> -->
                    <label id="card-modal-label">Position Description</label>
                    <textarea id="card-modal-input"  ng-model="card.position_description" required>{{ card.position_description }}</textarea>
                    <label id="card-modal-label">Tech Stack</label>
                    <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
                    <label id="card-modal-label">Advocate Name</label>
                    <input id="card-modal-input" type="text" ng-model="card.advocate" value="{{card.advocate}}" required>
                    <label id="card-modal-label">Organization Summary</label>
                    <input id="card-modal-input" type="text" ng-model="card.organization_summary" value="{{card.organization_summary}}" required>
                    <label id="card-modal-label">Glassdoor Rating</label>
                    <input id="card-modal-input" type="text" ng-model="card.glassdoor_rating" value="{{card.glassdoor_rating}}" required>
                    <input id="submit" type="submit" value="Update">
                  </form>
                </modal-dialog>
              </div>
            </li>
          </ul>

      </div>
    </div>

    <div id="interview-col" dnd-allowed-types="['card']">
      <h3>Interview</h3>

        <ul data-list_id="{{ board.lists[5].id }}"
        dnd-list="board.lists[5].cards"
        dnd-inserted="boardCtrl.updateCardPosition(event, index, item, {{ board.lists[5].id }})"
        >
          <li ng-repeat="card in board.lists[5].cards" dnd-draggable="card"
              dnd-effect-allowed="move"
              dnd-type="card"
              dnd-moved="board.lists[5].cards.splice($index, 1)"
          >
            {{card.title}}
            <!-- Test modal -->
              <div ng-controller='CardController as cardCtrl'>
                <button ng-click='toggleModal()'>Edit</button>
                <modal-dialog show='modalShown' width='50%' height='70%'>
                  <!-- <p>Modal Content For {{ board.lists[5].name }} Goes here<p> -->

                    <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
                    <!-- <label>Title</label> -->
                    <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
                    <input id="card-modal-input" type="hidden" ng-model="card.id" value="{{card.id}}" required>
                    <label id="card-modal-label" >Position Description</label>
                    <textarea id="card-modal-input" ng-model="card.position_description" required>{{ card.position_description }}</textarea>
                    <label id="card-modal-label" >Tech Stack</label>
                    <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
                    <label id="card-modal-label" >Advocate Name</label>
                    <input id="card-modal-input" type="text" ng-model="card.advocate" value="{{card.advocate}}" required>
                    <label id="card-modal-label" >Organization Summary</label>
                    <input id="card-modal-input" type="text" ng-model="card.organization_summary" value="{{card.organization_summary}}" required>
                    <label id="card-modal-label" >Glassdoor Rating</label>
                    <input id="card-modal-input" type="text" ng-model="card.glassdoor_rating" value="{{card.glassdoor_rating}}" required>
                    <label id="card-modal-label" >Recent Articles</label>
                    <input id="card-modal-input" type="text" ng-model="card.recent_articles" value="{{card.recent_articles}}" required>
                    <input id="submit"type="submit" value="Update">
                  </form>
                </modal-dialog>
              </div>
          </li>
        </ul>
  </div>
</div>