<div class="stats">
  <h1>About JHO</h1>
  <p>JHO is an app for taking the agony out of the job hunt.</p>

  <h2 class="about-title">Why JHO?</h2>
  <p class="about-text">
    JHO helps you build, retain, and utilize momentum during your job search.
  </p>
  <p class="about-description">
    Forget losing email threads, endless research to craft cover letters that are never read, and getting filtered out by applicant tracking systems. JHO helps you skip the HR quagmire by building real connections.
  </p>
  <p class="about-description">
    JHO provides curated actionable next steps for your job hunt based on priority and urgency, as well as keeping momentum via reminders about organizations with which you are currently engaged.
  </p>
</div>