<div class="row">
  <div class="col-6 header-nav">

    <div><a id="logo" ui-sref="welcome">JHO</a></div>
      <!-- <div ng-if="isAuthed()"><a id="title" ui-sref="welcome">JHO</a></div> -->
      <!-- <div ng-hide="isAuthed()"><a id="title" ui-sref="auth">JHO</a></div> -->
      <!-- <p>Your job hunt, organized</p> -->

      <ul class="pull-right">
        <a ng-click="logout()">Log out</a>
        <!-- <li ng-if="verifyLoggedIn()"><a ui-sref="logout"  ng-click="logout()">Log out</a></li> -->
        <!-- <li><a ui-sref="contact">Contact</a></li> -->
        <!-- <li><a ui-sref="about">About</a></li> -->
        <!-- <li ng-if="verifyLoggedIn()"><a ui-sref="board">Home</a></li> -->
      </ul>

  </div>
</div>