<!-- Not being used - handling all logging in and registration through auth.html -->
<div ng-controller="AuthController as auth">
<a href="#/login">Login</a>
    <small>
      {{auth.message}}
    </small>
  <section id="register">
    <h2>Register</h2>
    <div class="register">
      <form novalidate ng-submit="auth.register(user)" name="registerForm">
        Name: <input required ng-model="user.name" type="text" name="user[name]">
        Email: <input required ng-model="user.email" type="text" name="user[email]">
        Password: <input required ng-model="user.password" type="password" name="user[password]">
        Password Confirmation: <input required ng-model="user.password_confirmation" type="password" name="user[password_confirmation]">
        <input ng-disabled="registerForm.$invalid" type="submit" value="Register">
      </form>
    </div>
  </section>
</div>