<div class="row" ng-include="'templates/rvb-nav-bar.html'"> </div>

<div class="col-6 panel today" ng-controller="BoardController as boardCtrl">
  <h1>My top priorities for today</h1>

  <ul>
    <li ng-repeat="card in allCards | orderBy:'card.priority' | limitTo:7 ">
      <div id="outer-div">

        <div id="today-list-org-name">{{card.title}} </div>
        <div id="today-list-task">{{card.next_task}} </div>
        <div id="today-list-task">{{card.priority}} </div>

        <!-- Complete button launches modal to edit card -->
        <div ng-controller='CardController as cardCtrl'>
            <button id="complete-button" ng-click='toggleModal()'>Complete</button>
            <modal-dialog show='modalShown' width='50%' height='70%'>
                    <!-- <p>Modal Content For {{ board.lists[5].name }} Goes here<p> -->

            <form id="card-modal-form" name="editCardForm" ng-submit="cardCtrl.updateCard(card)" novalidate>
              <!-- <label>Title</label> -->
              <input id="card-modal-title" type="text" ng-model="card.title" value="{{card.title}}" required>
              <input id="card-modal-input" type="hidden" ng-model="card.id" value="{{card.id}}" required>
              <label id="card-modal-label" >Position Description</label>
              <textarea id="card-modal-input" ng-model="card.position_description" required>{{ card.position_description }}</textarea>
              <label id="card-modal-label" >Tech Stack</label>
              <input id="card-modal-input" type="text" ng-model="card.tech_stack" value="{{card.tech_stack}}" required>
              <label id="card-modal-label" >Advocate Name</label>
              <input id="card-modal-input" type="text" ng-model="card.advocate" value="{{card.advocate}}" required>
              <label id="card-modal-label" >Organization Summary</label>
              <input id="card-modal-input" type="text" ng-model="card.organization_summary" value="{{card.organization_summary}}" required>
              <label id="card-modal-label" >Glassdoor Rating</label>
              <input id="card-modal-input" type="text" ng-model="card.glassdoor_rating" value="{{card.glassdoor_rating}}" required>
              <label id="card-modal-label" >Recent Articles</label>
              <input id="card-modal-input" type="text" ng-model="card.recent_articles" value="{{card.recent_articles}}" required>
              <input id="submit"type="submit" value="Done">
            </form>
          </modal-dialog>
        </div>
        <div>
          <button id="save-for-later">Save for Later</button>
        </div>

      </div>
    </li>
  </ul>

</div>




      <!-- <input type="checkbox" ng-model="todo.done"> -->
      <!-- <span class="done-{{todo.done}}">{{todo.text}}</span> -->
