<h1><a href="#/">JHO</a></h1>
<p>Your job hunt, organized</p>

<nav>
  <ul>
    <li><a href="#/welcome">Home</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/contact">Contact</a></li>
  </ul>
  <ul>
    <li><a href="#/auth">Authenticate</a></li>
    <li><a href="#/update-user">Update User</a></li>
    <li><a href="#/logout" ng-show="isAuthed()" ng-click="auth.logout()">Log out</a></li>
    <!-- <li><a href="#/register">Register</a></li> -->
    <!-- <li><a href="#/login">Log In</a></li> -->
  </ul>
</nav>