<!-- Not being used - handling all logging in and registration through auth.html -->
<div ng-controller="AuthController as auth">
<a href="#/register">Register</a>
  <section id="login">
    <h2>Login</h2>
    <div class="login">
      <form novalidate ng-submit="auth.login(user)" name="loginForm">
        Email: <input required ng-model="user.email" type="text" name="user[email]">
        Password: <input required ng-model="user.password" type="password" name="user[password]">
        <input ng-disabled="loginForm.$invalid" type="submit" value="Login">
      </form>
    </div>
  </section>
    <small>
      {{auth.message}}
    </small>
</div>

