<div class="row">
 <ul class="col-6 tab-bar">
    <li >
      <!-- <a href ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1) }">Board</a> -->
      <a href="#/board">Board</a>
    </li>
    <li >
      <!-- <a href ng-click="panel.selectTab(2)" ng-class="{active: panel.isSelected(2) }">Today</a> -->
      <a href="#/today">Today</a>
    </li>
    <li >
      <!-- <a href ng-click="panel.selectTab(3)" ng-class="{active: panel.isSelected(3) }">Stats</a> -->
      <a href="#/stats">Stats</a>
    </li>
    <li>
      <!-- <a href ng-click="panel.selectTab(4)" ng-class="{active: panel.isSelected(4) }">Tips</a> -->
      <a href="#/tips">Tips</a>
    </li>
  </ul>
</div>
