<h2>Update User</h2>
<div ng-controller="UsersController as userCtrl"   class="update">
  <!-- name="messageForm" ng-submit="scheduleMessage(message)" -->
  <form novalidate ng-submit="userCtrl.updateUser(user)" name="userForm">
    Name: <input required ng-model="user.name" type="text" name="user[name]" value="userCtrl.user.name">
    Email: <input required ng-model="user.email" type="text" name="user[email]" value="userCtrl.user.email">
    Password: <input required ng-model="user.password" type="password" name="user[password]">
    Password Confirmation: <input required ng-model="user.password_confirmation" type="password" name="user[password_confirmation]">
    <input ng-disabled="userForm.$invalid" type="submit" value="Update">
    <!-- ng-disabled="messageForm.$invalid" -->
  </form>
</div>